/*

	color.css

	This is the color stylesheet for 
	the web interface of lightbulb.

	For my info:

	Dark Gradient Maroon: #5b172c
	Control Maroon: #914d63
	Light Pink: #7b2240
	Yellow: #f8d126
	Light Yellow: #fbe892;
	Gray: #524c45
	White is of course: #fff
	Background gray: #d9d9d9;
*/

body{
	background-color: #7b2240;
}

/* Top Banner */

#topBanner{
	background-color: #5b172c;
	border-color:#fbe892;
}

#topBanner a#title{
	background-color: transparent;
	color: #f8d126;
}

#topBanner a#title:hover{
 	color: #fbe892;	
}

#topBanner a{
	color: #914d63;
	background-color:#f8d126;	
}

#topBanner a:hover{
	color: #914d63;
	background-color: #fbe892;	
}

#title{
	background-color: transparent;
	color:#f8d126;
}

#wrapper{
	background-color: transparent;
	border: none;
}

/* Content */


p.content{
	border-color: #f8d126;
	color: #f8d126;	
}

.content a{
	background-color: transparent;
	color: #fbe892;
}

.content a:hover{
	color: #f8d126;
}

/* Form stuff */

span.formRow, .content{
	background-color: #5b172c;	
	color: #f8d126;	
}


input{
	border-color: #7b2240;
}

input[type="submit"]{
	color: #5b172c;
	border-color: #914d63;
}

.notice, .titleBar{
	color:#f8d126;	
	background-color: #5b172c;
	border-color: none;	
}


.error{
	color:#f8d126;	
	background-color: #5b172c;
	border-color: none;	
}

#submit{
	background-color: #f8d126;
}


/* Control Panel */

#controlPanel {
	background-color: #5b172c;
	color: #f8d126;
}

#controlPanel table , #controlPanel table *{
	border-color: #f8d126;
	color: #f8d126;
}