body{
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#wrapper{
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #93d500;
	border-right: 1px solid #93d500;	
	height: 100%;
}

form{

}

input{
	color: #93d500;
	height: 100px;
	width: 580px;
	margin: 10px;
	font-size: 50px;
	background: !important #fff;
	float: left;
	clear: both;
}

input[type='text'], input[type='password']{
	border: 1px solid #93d500;
}

.formLabel{
	display: block;
	width: 600px;
	height: 20px;

	border: 1px solid #93d500;
	color: #93d500;
	background-color: #c6f833;	

	float: left;
}

/* Top Bar */

#topBanner{
	display: none;
	width: 100%;
	padding: 0;
	height: 44px;
	text-align: center;
}

#topBanner #title{
	display: block;
	float: left;
	text-align: center;
	width: 580px;
	height: 34px;
	margin-top: 5px;
	line-height: 34px;
}

#topBanner a{
	float: right;
	margin-right: 10px;
	height: 34px;
	margin-top: 5px;
	line-height: 34px;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 10px;

	display: block;
	
	border: 1px solid #93d500;
	color: #93d500;
	background-color: #c6f833;	
}

#topBanner a:visited{
	margin-right: 10px;
	color: #93d500;
}

/* Banners */

.notice{
	border: 1px solid #93d500;
	color: #93d500;
	background-color: #c6f833;
}

.error{
	border: 1px solid #ff0f32;
	color: #ff0f32;
	background-color: #ffccd3;
	border-radius: 5px;	
}